
  .hrRuler{
    background-color:rgb(212, 208, 208);
    height:1px;   
   }
   #cartBody{
       width:85%;
       margin:auto;
       border: 0px solid green;
   }
   .countDiv{
       font-size: 17px;
       font-weight: 600;
       border: 0px solid red;
       
   }
   #productContentDiv{
       display: flex;
       border:0px solid green;
       height:auto;
       margin-top:20px;
   }
   #productContentDiv > #products{
       width:73%;
       border:0px solid red;
   }
   #productContentDiv > #productsAmount{
       border:0px solid red;
       width:36.5%; 
       margin-left:1%;
   }

   #productsAmount > #pincodeDiv{
       border: 1px solid rgb(219, 213, 213);
       padding: 25px 0px 20px 12px;
   }
   #pincodeDiv>.rem>input{
       padding:10px 14px 10px 10px;
       border-radius:5px;
       border:1px solid rgb(211, 208, 208);
       margin-left:7%;
   }
   #pincodeDiv>.rem>button {
       width:90px;
       height:37px;
       padding:8px 5px 9px 5px;
       margin-left:1%;
       border-radius:5px;
       border:1px solid rgb(147, 175, 241);
       background-color: transparent;
       color:rgb(102, 136, 220);
       font-size: 15px;
       
   }
   #pincodeDiv>button:hover{
    cursor:pointer;
   }
   #offersForYouDiv{
       height:auto;
       border:1px solid rgb(219, 213, 213);
       margin-top:2%;
       display:flex;
   }
     #offersForYouDiv>#offerImg{
        border:0px solid black;
       padding-top:20px;
   }
   #offersForYouDiv>#offerImg>img{
       height:70px;
   }
   #offersForYouDiv>#offerInfo{
       width:90%;
       border:0px solid black;
       padding:0px 0px 30px 10px;
       
   }
   #offersForYouDiv>#offerInfo>h3{
       font-size: 16px;
       width:100%;
   }
   #offersForYouDiv>#offerInfo>div>p{
       font-size:12px;
       color:rgb(126, 124, 124);

   }
   #offerInfo{
        display:flex;
 
   }
     
   #SelectBtn{
        margin-left:10px;
        margin-top:10px;
        color:#303AB2 
    }
   #SelectBtn:hover{
       cursor:pointer;
   }
   #priceDiv{
       border: 1px solid rgb(219, 213, 213);
       height:auto;
       margin-top:10px;
       padding:20px;
   }
   
   #priceDiv>p{
       font-size: 15px;
   }
   #priceDiv1{
    display:flex;
    border:0px solid red
   }
   #priceDiv2{
      width:40%;
      border:0px solid red;
      padding-top:10px;
      text-align: right;
      
   }
   #priceDivfirst{
    border:0px solid red;
    width:60%;
   }
   #priceDiv2> span{
       margin-bottom:50px;
   }

   #priceRuler{
       background-color: rgb(205, 202, 202);
       height:1px;
       margin-top:30px;
   }

   #totalCal{
    display:flex;
    font-weight: 600;
    font-size: 18px;

   }
   #totalCal>#totalPrice{
    margin-left:300px;
    margin-top:12px;
   }
   #priceDiv>#checkoutBtn{
       width:100%;
       height:50px;
       background-color:#303AB2;
       font-size: 17px;
       color:white;
       border:none;
   }
   #priceDiv>#priceNote{
       background-color: #EFEFEF;
       font-size:14px;
       height:40px;
       margin-top:2%;
   }
   #priceDiv>#priceNote>p{
       width:90%;
       margin-left:5px;
       margin-top:19px;
   }

   #productDiv{
    border: 1px solid rgb(219, 213, 213);
    margin-bottom: 10px;
    display:flex;
   }
   
   #productDivPart1{
    width:80%;
    border: 0px solid red;
    font-weight: 600;
   }
   #productDivPart1>p {
    margin-top:-1px;
    margin-left:10px;
    
   }
   #productRuler{

    background-color: black;
    width:60%;
    height:1px;
   }

   
  *{
    font-family: "Apple Color Emoji","Segoe UI Emoji";
  }
  #deliveryDate{
    font-weight: 100;
    font-size: 12px;    
    margin-top:57px;
    margin-left:12px
    }
  #remDiv{
    display:flex;
    border: 0px solid red;
  }
  #remDiv>#remBtn{
    margin-left: 200px;
    font-weight: 100;
    color:#303AB2;
    margin-top:55px;
    font-size: 14px;
  }
  #remDiv>#remBtn:hover{
    cursor:pointer;
    
  }
  #deliveryIn{
    font-weight: 100;
    font-size: 13px ;
    color: #a09d9d;
    margin-top:55px;
    margin-left:-190px;
  }

  .popup{
    background : rgba(0,0,0,0.9);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    display:none;
    justify-content: center;
    align-items: center;
  }
  .popup-content{
    height:250px;
    width:500px;
    background-color: #5058af;
    color:white;
    padding:20px;
    position: relative;

  }
  .applyBtn1, .applyBtn2{
    color:black;
    font-style:italic;
    cursor:pointer
  }

  @media only screen and (max-width: 1000px){
    
  .hrRuler{
    background-color:rgb(212, 208, 208);
    height:1px;   
   }
   #cartBody{
       width:100%;

   }
   
   #productContentDiv{
       display: inline;
   }
   #productContentDiv > #products{
       width:98%;
   }
   #productContentDiv > #productsAmount{
       width:98%; 
       margin-left:0%;
   }
     #offersForYouDiv>#offerImg{
       padding:20px;
   }
   #offersForYouDiv>#offerInfo{
       width:90%;
       border:0px solid black;
       padding:0px 0px 30px 10px;
       
   }
}