
.signin{
    width: 40%;
    margin: auto;
    padding:30px 50px;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 80px rgb(205, 205, 205);
    font-family: ProximaNova-Regular, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
.signin>i{
    text-align: right;
    display: block;
    font-size: 25px;
    cursor: pointer;
}
.signin>.heading>h1{
    font-size: 36px;
    font-weight: 400;

}
.signin>.heading>p{
    font-size: 17px;
    color: gray;
}
.signin>.input>p{
    font-size: 18px;
    margin: 5px;
}
.signin>.input>div{
    display: flex;
    padding:0px 7px;
    border: 1px solid rgba(187, 187, 187, 0.822) ;
}

.signin>.input>div>input{
    width: 90%;
    border: none;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    
}
.signin>.input>div>input:focus{
    border: none;
}

.signin>.input>.otp_box{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border: none;
}
.signin>.input>.otp_box>input{
    border: 1px solid rgba(193, 192, 192, 0.904);
    height: 50px;
    text-align: center;
    font-size: 20px;
}
.signin>.input>.otp_box>input:focus{
    border: 1px solid rgba(193, 192, 192, 0.904);
}

.signin>.input>.name_box{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border: none;
}
.signin>.input>.name_box>input{
    border: 1px solid rgba(193, 192, 192, 0.904);
    height: 50px;
    
    font-size: 18px;
}
.signin>.input>.name_box>input:focus{
    border: 1px solid rgba(193, 192, 192, 0.904);
}
.signin>.t-c{
    font-size: 17px;
    margin: 30px 0px;
}
.signin>.btn>button{
    font-size: 16px;
    padding: 20px 40px;
    background-color:#303ab2 ;
    color: white;
    border: none;
    float: right;
    cursor: pointer;
    border-radius: 5px;
}

#signin_div{
    visibility: hidden;
}
#otp_div{
    visibility: hidden;
}
#details_div{
    visibility: hidden;
}

@media all and (min-width:500px) and (max-width:900px){
    .signin{
        width: 70%;
    }
}
@media all and (min-width:200px) and (max-width:499px){
    .signin{
        width: 70%;
    }
    .signin>.heading>h1{
        font-size: 25px;
    }
    .signin>.heading>p{
        font-size: 15px;
    }
    .signin>.input>p{
        font-size: 15px;
    }
    .signin>.t-c{
        font-size: 13px;
    }
    .signin>.btn>button{
        font-size: 14px;
        padding: 15px 25px;
    }
}

